<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vyvu.vcommunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VCommunity">
        <activity android:name=".view.home.Search"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".view.post.ReviewCreation"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".view.post.PostReviews"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".view.home.PostCreation"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".view.home.UserInformation"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".view.home.TagSelection"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".view.home.Home"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>